body {
  border-top: 4px solid #59AC53;
  overflow-y: scroll;
}

.dot-border {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAEElEQVQImWP4////fwaCAACRlQP9mAgHgQAAAABJRU5ErkJggg==") repeat scroll 0 0 transparent;
  height: 8px;
  margin-top: 20px;
  width: 100%;
}

.button {
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 13px;
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px !important;
  background-color: #ED5456;
  padding-bottom: 0.75em !important;
  padding-top: 0.8125em !important;
}

.following {
  background-color: #ccc !important;
  border-color: #ccc !important;
}

.no-left-padding {
  padding: 0 5px 0 0 !important;
}

.no-right-padding {
  padding: 0 0 0 5px !important;
}

.welcome {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 -10px 0;
}

/* Header */

#header {
  background-color: #FDFAF6;
  margin: 0;
  width: 100%;
  padding: 10px 0 20px;
}

#logo {
  background-image: url(/assets/sprites.png);
  width: 85px;
  height: 42px;
  margin: 0 auto;
}

.triangle {
  background-image: url(/assets/sprites.png);
  background-position: -17px 16px;
  height: 17px;
  margin: 0 auto 10px;
  width: 54px;
}

/* Startup List */

.startup {
  background-color: #FDFAF6;
  border-radius: 3px;
  margin: 10px auto;
  padding: 20px;
}

.startup-list img {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 20px;
  border-radius: 50%;
}

.startup-name {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 24px;
  margin: 5px 0;
}

.pitched-by {
  color: #b8b8b8;
}

.ceo-name {
  color: #333;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 15px;
  margin: 0;
  text-transform: uppercase;
}

.bio {
  color: #333;
  font-size: 14px;
  margin: 0 auto;
  clear: both;
}

/* Icons */

.nav {
  text-align: center;
  margin: 20px 0 0 0;
}

.nav a {
  color: inherit;
  margin: 0 20px;
}

.nav a:hover, .nav a:active {
  color: #59AC53;
}

@font-face {
  font-family: '-cons';
  src: url('/assets/-cons.eot?34593744');
  src: url('/assets/-cons.eot?34593744#iefix') format('embedded-opentype'),
       url('/assets-cons.woff?34593744') format('woff'),
       url('/assets/-cons.ttf?34593744') format('truetype'),
       url('/assets/-cons.svg?34593744#-cons') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "-cons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
 
}
 
.icon-map:before { content: '\e727'; } /* '' */
.icon-users-1:before { content: '\e800'; } /* '' */


.footer { margin-bottom: 50px; }

/* Login Form */
h6.or {
  letter-spacing: 2px;
  font-size: 11px;
  margin: -5px 0;
}

.email-form {
  display: none;
}

.width-90 {
  width: 90% !important;
}

.secondary {
  background-color: #E9E9E9 !important;
  border-color: #D0D0D0 !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset !important;
  color: #6F6F6F !important;
}

.create-account {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333;
  font-size: 11px;
}

.reveal-modal input {
  background-color: #eee;
}

label { letter-spacing: 2px; text-transform: uppercase; padding-bottom: 5px; }