body {
  border-top: 4px solid #59AC53;
  overflow-y: scroll;
}

.dot-border {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAEElEQVQImWP4////fwaCAACRlQP9mAgHgQAAAABJRU5ErkJggg==") repeat scroll 0 0 transparent;
    height: 8px;
    margin-top: 20px;
    width: 100%;
}

.button {
  font-size: 11px;
  letter-spacing: 2px;
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

/* Header */

#header {
  background-color: #FDFAF6;
  margin: 0;
  width: 100%;
  padding: 10px 0 20px;
}

#logo {
  background-image: url(/assets/sprites.png);
  width: 85px;
  height: 42px;
  margin: 0 auto;
}

.triangle {
  background-image: url(/assets/sprites.png);
  background-position: -17px 16px;
  height: 17px;
  margin: 0 auto 10px;
  width: 54px;
}

/*  Old Startup List 
#content .row {
  border: 1px solid #eee;
  background-color: #FDFAF6;
  border-radius: 3px;
  width: 95%;
  margin-bottom: 10px;
}

.description {
  display: table; height: 80px; position: relative;
}
.description p {
  display: table-cell; vertical-align: middle;
}

h5 { text-transform: uppercase; letter-spacing: 2px; }

#content img {
  width: 60px;
  margin: 10px;
}
*/

/* Startup List */

.startup-list img {
  width: 140px;
  height: 140px;
}

.startup-name {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 24px;
  margin: 5px 0;
}

.pitched-by {
  color: #eee;
}

.ceo-name {
  color: #FFFFFF;
  font-size: 11px !important;
  letter-spacing: 3px;
  margin: 0;
  text-transform: uppercase;
}

.bio {
  color: #333;
  font-size: 14px;
  width: 90%;
  margin: 0 auto;
  max-width: 500px;
}

/* Startup Admin */

.startup-add img {
  width: 70px;
  height: 70px;
}