<div class="row">

  <div class="dot-border"></div>

  <div class="footer text-center">

    <% if current_user %>
      <p class="welcome">Hello, <strong><%= current_user.name %></strong>!</p>
      <%= link_to "Sign out?", signout_path, class: "button radius alert" %>
    <% else %>
      <%= link_to "Sign in with Angellist", "/auth/angellist", class: "button radius alert" %>
    <% end %>

  </div>
  
</div>