<div class="row">

  <div class="dot-border"></div>

  <div class="footer text-center">

    <% if current_user %>
      <p class="welcome">Hello, <strong><%= current_user.name %></strong>!</p>
      <%= link_to "Sign out?", signout_path, class: "button radius alert" %>
    <% else %>
      <%= render 'layouts/login_form' unless(params[:controller] == 'identities' && params[:action] == 'new')%>
    <% end %>

  </div>
  
</div>