<div id="header">
  <a href="/"><div id="logo"></div></a>

  <div class="nav">
    <a href=""><i class="icon-users-1"></i></a>
    <a href=""><i class="icon-map"></i></a>
  </div>

</div>

<div class="triangle"></div>